chsrc_latest-1_amd64.deb
__pycache__/
*.pyc

save/
output/
ckpt/
model/
chroma_db/
temp/
cache/
datus/
logs/
LightRAG/
rag_storage/

dataset_exe_result.json
*.zip
T3/data/dataset_exe_result.json
agentops.log
*.csv
.env
*.log