[submodule "lib/M-Schema"]
	path = lib/M-Schema
	url = https://github.com/XGenerationLab/M-Schema.git
[submodule "lib/toon-python"]
	path = lib/toon-python
	url = https://github.com/toon-format/toon-python.git
