# 基本依赖
pymysql
# toon_format==0.1.0
lib/toon-python
transformers
modelscope
huggingface_hub

# M-Schema 依赖
sqlalchemy
llama-index

# datus 依赖
# datus-agent @ git+https://github.com/Datus-ai/Datus-agent.git
# datus-agent
# datus-metricflow
# metricflow

# langchain 依赖
# langchain==1.0.3
# langchain-community==0.4.1
# langchain-openai==1.0.2

# agentlightning 依赖
# agentlightning[verl]>=0.2.1 # 用于训练Agent工具调用和推理能力
# 注意：如果与datus-agent同时安装时有rich依赖冲突，可以尝试：pip install agentlightning[verl] --no-deps && pip install rich

# vanna 依赖
vanna[anthropic,fastapi]
# uvicorn[standard] # 可选
chromadb # 可选，用于持久化存储 Agent Memory
sentence_transformers # 可选，用于生成 Embedding

# lightrag-hku 依赖
lightrag-hku[api]
aiohttp  # LightRAG HTTP API 客户端依赖